{% extends 'base.html' %}
{% load static %}
{% block page_head %}
    <link href="{% static 'bigday/css/invitation.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block page_content %}
    <div class="container" id="invitation-body">
        <section class="video-container">
                <img src="{% static 'bigday/images/invite-image.jpg' %}" class="img-responsive" alt="">
        </section>
        <section class="col-md-6 text-center">
            <div id="invitation-details">
            <h2>Kasia i Adam</h2>
            <p class="lead">
                Hotel Bursztynowy Sen<br>
                Sala Syrenka<br>
                Grunwaldzka 13, 82-103 Stegna<br>
            </p>
                <hr size="2" width="90%" color="black">
                <h2>Ślub</h2> <br>
                <p class="lead">
                    18 września 2021, 17:00 - 17:15
                </p><br>
                <hr size="2" width="90%" color="black">
                <h2>Wesele</h2> <br>
                <p class="lead">
                    18 września 2021, 17:15 - 4:20
                </p><br>
                <hr size="2" width="90%" color="black">
                <h2>Poprawiny</h2> <br>
                <p class="lead">
                    19 września 2021, 13:00 - 16:00</h3>
            </p>
            </div>
        </section>
        {% if not party.is_attending_ceremony %}
        <section class="col-md-6">
        <form data-toggle="validator" id="invitation-details" class="form-horizontal" method="post">
            <h2 id="rsvp-header" class="text-center">RSVP</h2>
            <div class="clearfix"></div>
            {% csrf_token %}
            {% for guest in party.ordered_guests.all %}
            {% if guest.unknown_name %}
                <div class="form-group col-sm-6 grayed">
                    {% with 'first_name-'|add:guest.unique_id as fist_name_label %}
                    <input type="text" name="first_name" id="first_name" class="form-control"  placeholder="Imię osoby towarzyszącej" required>
                    {% endwith %}
                </div>
                <div class="form-group col-sm-6 grayed">
                    {% with 'last_name-'|add:guest.unique_id as last_name_label %}
                    <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Nazwisko osoby towarzyszącej" required>
                    {% endwith %}
                </div>
            {% endif %}
            <div class="form-group row grayed text-center" data-is-child="{{ guest.is_child }}">
                {% with 'attending-'|add:guest.unique_id as attending_label %}
                    <div class="form-check">
                {% if not guest.unknown_name %}
                    <div class="radio-inline" style="text-align: center;">
                        <label style="text-align: center;">{{ guest.name }}</label>
                    </div><br>
                {% endif %}
                {% if guest.unknown_name %}
                    <div class="radio-inline" style="text-align: center;">
                        <label style="text-align: center;">Osoba towarzysząca</label>
                    </div><br>
                {% endif %}
                <div class="radio-inline">
                    <label>
                        <input class="attending-radio" type="radio" name="{{ attending_label }}" id="yes-{{ attending_label }}" value="yes" {% if guest.is_attending_ceremony %}checked="checked"{% endif %} required>przybędzie</label>
                </div><div class="radio-inline"><label>
                                 <input class="attending-radio" type="radio" name="{{ attending_label }}" id="no-{{ attending_label }}" value="no" {% if guest.is_attending_ceremony == False %}checked="checked"{% endif %} required> nie przybędzie</label>
                    </div>
                </div>
                {% endwith %}
            </div><br>
            {% if not guest.is_child %}
            <div class="form-group grayed text-center">
                {% with 'meal-'|add:guest.unique_id as meal_label %}
                <div class="radio-inline" style="text-align: center;">
                    <label style="text-align: center;">skorzysta z menu</label>
                </div><br>
                {% for meal_id, meal_name in meals %}
                <label class="radio-inline">
                    <input type="radio" name="{{ meal_label }}" id="{{ meal_id }}-{{ meal_label }}" value="{{ meal_id }}" {% if guest.meal == meal_id %}checked="checked"{% endif %} required> {{ meal_name }}
                </label>
                {% endfor %}
                {% endwith %}
            </div><br>
            <div class="form-group grayed text-center">
                {% with 'accommodation-'|add:guest.unique_id as accommodation_label %}
                <div class="radio-inline" style="text-align: center;">
                    <label style="text-align: center;">miejsce noclegowe</label>
                </div><br>
                <label class="radio-inline">
                    <input class="accommodation-radio" type="radio" name="{{ accommodation_label }}" id="yes-{{ accommodation_label }}" value="yes" {% if guest.is_accommodation_needed %}checked="checked"{% endif %} required> potrzebuje
                </label>
                <label class="radio-inline">
                    <input class="accommodation-radio" type="radio" name="{{ accommodation_label }}" id="no-{{ accommodation_label }}" value="no" {% if guest.is_accommodation_needed == False %}checked="checked"{% endif %} required>nie potrzebuje
                </label>
                {% endwith %}
            </div><br>
            <div class="form-group grayed text-center">
                {% with 'aftermath-'|add:guest.unique_id as aftermath_label %}
                <div class="radio-inline" style="text-align: center;">
                    <label style="text-align: center;">na poprawiny</label>
                </div><br>
                <label class="radio-inline">
                    <input class="btn btn-primary" type="radio" name="{{ aftermath_label }}" value="yes" id="yes-{{ aftermath_label }}" {% if guest.is_attending_aftermath %}checked="checked"{% endif %} required>przybędzie
                </label>
                <label class="radio-inline">
                    <input class="aftermath-radio" type="radio" name="{{ aftermath_label }}" value="no" id="no-{{ aftermath_label }}" {% if guest.is_attending_aftermath == False %}checked="checked"{% endif %} required>nie przybędzie
                </label>
                {% endwith %}
            </div>
            {% endif %}
                <hr size="2" width="90%" color="black">
            {% endfor %}
            <div class="form-group col-sm-12">
                <input type="text" name="email" class="form-control" placeholder="e-mail" >
            </div>
            <div class="form-group col-sm-12">
                <input type="text" name="comments" class="form-control" placeholder="Pytania / komentarze / życzenia / zażalenia / ***** ***" >
            </div>
            <div class="form-group">
                <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="Wyślij odpowiedź" />
                </div>
            </div>
        </form>
        </section>
    {% endif %}
    {% if party.is_attending_ceremony %}
    <section class="col-md-6">
        <form data-toggle="validator" id="invitation-details" class="form-horizontal" method="post">
            <h2 id="rsvp-header" class="text-center">Dziękujęmy za potwierdzenie zaproszenia<br>Do zobaczenia!</h2>
        </form>
    </section>
    {% endif %}
    </div>
{% endblock %}
{% block page_js %}
    <script src="{% static 'validator.js' %}"></script>
    <script>
    $(function () {
        $("input.attending-radio").change(function (e) {
            var notAttendingList = document.querySelectorAll('[id^="no-attending"]')
            for(var i = 0; i < notAttendingList.length; i++)
                {
                    var clientId = notAttendingList[i].id.match(/\d+/)[0];
                    var elementIds = ["meat-meal-", "vegetarian-meal-", "yes-accommodation-", "no-accommodation-", "yes-aftermath-", "no-aftermath-"];
                    if (notAttendingList[i].checked) {
                        elementIds.forEach(function (element) {
                            var elementToDisable = "#"+element+clientId
                            document.querySelector(elementToDisable).disabled = true;
                            document.querySelector(elementToDisable).required = false;
                            if (i !== 0 &&  document.querySelector("#first_name") !== null) {
                                document.querySelector("#first_name").disabled = true;
                                document.querySelector("#first_name").required = false;
                                document.querySelector("#last_name").disabled = true;
                                document.querySelector("#last_name").required = false;
                            }
                            if (i === 0) {
                                var sasin = "#yes-attending-"+(parseInt(clientId, 10)+1)
                                var jebacPis = "#no-attending-"+(parseInt(clientId, 10)+1)
                                document.querySelector(jebacPis).click()
                                document.querySelector(jebacPis).disabled = true;
                                document.querySelector(jebacPis).required = false;
                                document.querySelector(sasin).disabled = true;
                                document.querySelector(sasin).required = false;
                            }
                        });
                    }
                    else {
                        elementIds.forEach(function (element) {
                            var elementToDisable = "#"+element+clientId
                            document.querySelector(elementToDisable).disabled = false;
                            document.querySelector(elementToDisable).required = true;
                            if (i !== 0 && document.querySelector("#first_name") !== null) {
                                document.querySelector("#first_name").disabled = false;
                                document.querySelector("#first_name").required = true;
                                document.querySelector("#last_name").disabled = false;
                                document.querySelector("#last_name").required = true;
                            }
                            if (i === 0) {
                                var sasin = "#yes-attending-"+(parseInt(clientId, 10)+1)
                                var jebacPis = "#no-attending-"+(parseInt(clientId, 10)+1)
                                document.querySelector(jebacPis).disabled = false;
                                document.querySelector(jebacPis).required = true;
                                document.querySelector(sasin).disabled = false;
                                document.querySelector(sasin).required = true;
                            }
                        });
                    }
                }
            $(document.forms[0]).validator('destroy');
            $(document.forms[0]).validator();
        });
    });
    </script>
{% endblock %}
