{% extends 'base.html' %}
{% load static %}
{% block page_head %}
    <link href="{% static 'bigday/css/rsvp-confirmation.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block page_content %}
    <div class="layer"></div>
    <div class="container" id="main">
        <h2>Cześć {{ party.name }}! Dziękuję za odpowiedź!</h2>
        {% if party.any_guests_attending %}
            <p>
                Nie możemy się doczekać, aby świętować z Tobą na naszym weselu! =)
            </p>
            <p>
                Jeśli masz inne pytania, napisz do nas na adres <a href="mailto:{{ support_email }}">{{ support_email }}</a>.
            </p>
        {% else %}
            <p>
                Przykro nam, że nie będziesz mógł dołączyć do nas w Stegnie :c.
            </p>
            <p>
                Z niecierpliwością czekamy na spotkanie z Tobą innym razem!
            </p>
        {% endif %}
        <p>
            - Kasia i Adam
        </p>
        <a href="../../../../" class="btn btn-info btn-xl page-scroll">Powrót na stronę główną</a>
    </div>
{% endblock %}
