<head>
          <meta charset="UTF-8">
      </head>
<body>
        <center><img src="hearts.png" >
    <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td style="font-size: 35px; font-family: Palatino, serif; color: black; padding-top: 30px; font-weight:bolder;"
                class="padding-copy"
                align="center">
                18 / 09 / 2021
                <br>

            <img src="my.png" height=20% width=20%>
            </td>
        </tr>
        <hr size="3" width="20%" color="black">

        </tbody>
        </table>
        <table border="0" width="50%" cellpadding="0" cellspacing="0">

        <tr>
        <th>
        </th>
            <td style="padding: 20px 0 0 0; font-size: 16px; line-height: 20px; font-family: Arial, sans-serif; color: black;"
                class="padding-copy"
                align="center">


<style>
div.container {
background-color: #ffffff;
}
div.container p {
font-family: Arial;
font-size: 18px;
font-style: normal;
font-weight: normal;
text-decoration: none;
text-transform: none;
font-variant: small-caps;
color: #1c1c1c;
background-color: #ffffff;
}
</style>

<div class="container2">
<p>Hej {object.first_name},</p>
<p></p>
</div>
                <div class="container">
<p>Już w tę sobotę widzimy się na naszym weselu,<br>zanim do nas przybędziecie proszę przeczytajcie tą wiadomość.</p>
<p></p>
    <p>Ze względu na zaistniałą sytuację pandemiczną, <br>część wesel została przeniesiona oraz skumulowana. <br>W wyniku czego ośrodek <b>nie będzie w stanie zapewnić naszym gościom ręczników<br>oraz przyborów kosmetycznych.</b></p><p> Dlatego prosimy, aby każdy z was zabrał ze sobą własny zestaw.</p>
<p></p>
    <p>Przez wzgląd na uczulenia pana młodego prosimy o <b>nieprzynoszenie kwiatów</b></p>
</div>


<style>
div.container {
background-color: #ffffff;
}
div.container2 p {
text-align: center;
font-family: Arial;
font-size: 22px;
font-style: normal;
font-weight: bold;
text-decoration: none;
text-transform: none;
font-variant: small-caps;
color: #1c1c1c;
background-color: #ffffff;
}
</style>

<div class="container2">
<p>Twój numer stołu to: </p>
<p>{object.table}</p>
<p>Razem z Tobą w pokoju będą:</p>
<p>{neighbors}</p>
</div>


                <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:18px;font-variant: small-caps;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:18px;font-variant: small-caps;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0lax">Data</th>
    <th class="tg-0pky">Godzina</th>
    <th class="tg-0lax">Wydarzenie</th>
    <th class="tg-0lax">Gdzie</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax">18/09</td>
    <td class="tg-0pky">od 14:00</td>
    <td class="tg-0lax">Meldunek w pokojach<br>gościnnych/domkach letniskowych</td>
    <td class="tg-0lax">Recepcja Hotelu <br>Bursztynowy Sen</td>
  </tr>
  <tr>
    <td class="tg-0lax">18/09</td>
    <td class="tg-0lax">17:00 - <br>17:20</td>
    <td class="tg-0lax">Uroczystość zaślubin</td>
    <td class="tg-0lax">Namiot w ogródku ośrodka<br>za salą Syrenka</td>
  </tr>
  <tr>
    <td class="tg-0lax">18/09</td>
    <td class="tg-0lax">17:20 - <br>18:00</td>
    <td class="tg-0lax">Życzenia dla państwa młodych</td>
    <td class="tg-0lax">Namiot w ogródku ośrodka<br>za salą Syrenka</td>
  </tr>
  <tr>
    <td class="tg-0lax">18/09</td>
    <td class="tg-0lax">18:00 - <br>19:00</td>
    <td class="tg-0lax">Obiad</td>
    <td class="tg-0lax">Sala weselna Syrenka</td>
  </tr>
  <tr>
    <td class="tg-0lax">18/09 -<br>19/09</td>
    <td class="tg-0lax">19:00 - <br>04:20</td>
    <td class="tg-0lax">Wesele</td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal">Sala weselna Syrenka</span></td>
  </tr>
  <tr>
    <td class="tg-0lax">19/09</td>
    <td class="tg-0lax">od 4:20</td>
    <td class="tg-0lax">After</td>
    <td class="tg-0lax">Namiot w ogródku ośrodka<br>za salą Syrenka</td>
  </tr>
  <tr>
    <td class="tg-0lax">19/09</td>
    <td class="tg-0lax">11:00 -<br>13:00</td>
    <td class="tg-0lax">Bufet śniadaniowy</td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal">Sala weselna Syrenka</span></td>
  </tr>
  <tr>
    <td class="tg-0lax">19/09</td>
    <td class="tg-0lax">do 13:00</td>
    <td class="tg-0lax">Wymeldowanie gości</td>
    <td class="tg-0lax">Recepcja Hotelu <br>Bursztynowy Sen</td>
  </tr>
  <tr>
    <td class="tg-0lax">19/09</td>
    <td class="tg-0lax">od 13:00</td>
    <td class="tg-0lax">Poprawiny</td>
    <td class="tg-0lax"><span style="font-weight:400;font-style:normal">Sala weselna Syrenka</span></td>
  </tr>
</tbody>
</table>



            </td>
        </tr>
    </table>
            <div class="container">
                <p>Jeśli masz jakieś pytania, skontaktuj się z nami!</p>
                 <hr size="3" width="10%" color="black">
                <p><a href="mailto:paskudy@paskudy2021.pl">paskudy@paskudy2021.pl</a></p>
            </div>
</body>