{% load static %}
<div class="container">
    <div class="row">
        <h2 class="section-heading text-center">Paskudy</h2>
            <hr class="primary">
        <div class="col-lg-6">
            <div class="text-center"><i class="fa fa-4x fa-male"></i></div>
            <br>
            <h3 class="section-heading text-center">Adam Osipiuk</h3><br>
            <i><img src="{% static 'bigday/images/adam.jpg' %}" alt="" width="100%"></i><br>
            <hr class="light">

            <dl class="dl-horizontal lead">
                    <dt>Kasia</dt>
                    <dd>
                        kiedy poznałam Adama zachowywał się jak fifarafa, więc postrzegałam go jako cwaniaczka
                    </dd>
                    <dt>Kasia</dt>
                    <dd>jaki on sprytny, jaki on mądry, a jaki śliczny</dd>
                    <dt>Kasia</dt>
                    <dd>może i nie ma taktu, a czasami zachowuje się dziwnie, ale potrafi mnie rozśmieszyć i pozytywnie zaskoczyć
                    </dd>
                    <dt>Kasia</dt>
                    <dd>ma wielkie serce i nie jest obojętny na los innych ♥️</dd>
                </dl>
        </div>
        <div class="col-lg-6">
            <div class="text-center"><i class="fa fa-4x fa-female"></i></div>
            <br>
            <h3 class="section-heading text-center">Kasia Malawska</h3><br>
            <i><img src="{% static 'bigday/images/kasia2.png' %}" alt="" width="100%"></i><br>
            <hr class="light">
            <dl class="dl-horizontal lead">
                    <dt>Adam</dt>
                    <dd>
                        w sumie to Kasia sama się poderwała
                    </dd>
                </dl>
            </div>
    </div>
</div>
