{% load static %}
<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Ślub&Wesele 18/09/2021</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>Co</dt>
                    <dd>
                        Ślub i wesele Kasi i Adama
                    </dd>
                    <dt>Kiedy</dt>
                    <dd>Sobota 18 września o 17:00</dd>
                    <dt>Gdzie</dt>
                    <dd>
                        <address>
                            Sala Syrenka<br>
                            <a href="https://bursztynowysen.pl">Hotel Bursztynowy Sen</a><br>
                            <a href="https://goo.gl/maps/ZZMLNog4uNNrUrNR6">Grunwaldzka 13, 82-103 Stegna</a><br>
                            Telefon:  +48-602-881-075
                        </address>
                        <iframe width="100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2326.4826530541864!2d19.112269316122656!3d54.330776880197064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46fd3f9ea0df300d%3A0xc7756fe307901a08!2sHotel%20Bursztynowy%20Sen%20*2A*2A*2A!5e0!3m2!1spl!2spl!4v1619382826868!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        <div class="section-heading text-center">
                            <img src="{% static 'bigday/images/map.png' %}" class="center"  width="100%" alt="">
                        </div>

                    </dd>
                    <dt>Strój</dt>
                    <dd>Smart Casual (Zalecany wizytowy)</dd>
                    <dt>Oprawa muzyczna</dt>
                    <dd>Zapewniona przez DJ'a, bez DiscoPolo</dd>
                    <dt>Atrakcje</dt>
                    <dd>Drink Bar, Fotobudka</dd>
                    <dt>Transport</dt>
                    <dd>Transport nie jest zapewniony</dd>
                    <dt>Parking</dt>
                    <dd>Przy hotelu/przed salą weselną znajduje się ograniczona ilość miejsc parkingowych, w przypadku ich braku należy stanąć przy ulicy.</dd>
                    <dt>Info dodatkowe</dt>
                    <dd>
                        Miejsce ślubu, wesele, nocleg i poprawiny są w tym samym ośrodku<br>
                        Zameldowanie w pokojach gościnnych jest możliwe od godziny 14:00 18/09/2021<br>
                        W toaletach, na sali weselnej, znajdziecie niezbędnik weselny - tabletki przeciwbólowe, nitka, igła, akcesoria kobiece i męskie.
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<section id="saturday-event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Poprawiny 19/09/2021</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>Co</dt>
                    <dd>Poprawiny wesela Kasi&Adama</dd>
                    <dt>Kiedy</dt>
                    <dd>Niedziela 19 września 2021, od 13:00 do 16:00</dd>
                    <dt>Gdzie</dt>
                    <dd>
                        <address>
                            Sala Syrenka<br>
                            <a href="https://bursztynowysen.pl">Hotel Bursztynowy Sen</a><br>
                            <a href="https://goo.gl/maps/ZZMLNog4uNNrUrNR6">Grunwaldzka 13, 82-103 Stegna</a><br>
                            Telefon:  +48-602-881-075
                        </address>
                    </dd>
                    <dt>Strój</dt>
                    <dd>Styl dowolny
                    </dd>
                    <dt>Info dodatkowe</dt>
                    <dd>
                        Przed poprawinami należy wymeldować się z pokoi
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>

