{% load static %}
{% block page_content %}
<div class="container">
    <div class="row">
        <h2 class="section-heading text-center">Nasza rodzinka</h2>
            <hr class="primary">
        <div class="col-lg-6">
            <div class="text-center"><i><img src="{% static 'bigday/images/cat.png' %}" alt=""></i></div><br>
            <h3 class="section-heading text-center">Bondar</h3><br>
            <i><img src="{% static 'bigday/images/bondar.jpeg' %}" alt="" width="100%"></i><br>
            <hr class="light">
            <dl class="dl-horizontal lead">
                    <dt>od kiedy z nami</dt>
                    <dd>
                        27/10/2019
                    </dd>
                    <dt>rasa</dt>
                    <dd>syberyjski</dd>
                    <dt>obecna waga</dt>
                    <dd>7,2 kg
                    </dd>
                    <dt>lubi</dt>
                    <dd>uciekać na dach, wchodzić na kolana, jeść mokrą karmę️</dd>
                    <dt>kogo woli</dt>
                    <dd>tatę</dd>
                </dl>
        </div>
        <div class="col-lg-6">
            <div class="text-center"><i><img src="{% static 'bigday/images/baby.png' %}" alt=""></i><br></div>
            <h3 class="section-heading text-center">Michał</h3><br>
            <i><img src="{% static 'bigday/images/tobolek3.png' %}" alt="" width="100%"></i><br>
            <hr class="light">
            <dl class="dl-horizontal lead">
                    <dt>od kiedy z nami</dt>
                    <dd>8/11/2020</dd>
                    <dt>pierwsza waga</dt>
                    <dd>3,7 kg</dd>
                    <dt>obecna waga</dt>
                    <dd>8,5 kg </dd>
                    <dt>lubi</dt>
                    <dd>mleczko, szybką jazdę autem, kąpiel, słuchać pr0bl3mu️</dd>
                    <dt>kogo woli</dt>
                    <dd>tatę</dd>
                </dl>
            </div>
        </div>

        <hr class="primary">
        <dl class="dl-horizontal lead">
        <i><img src="{% static 'bigday/images/gluty.jpeg' %}" alt="" width="100%"></i>
</div>
{% endblock %}
