{% load static %}
{% block page_content %}
<div class="container">
    <h2 class="section-heading text-center">Prezenty</h2>
    <hr class="primary">
    <div class="row">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-2">
            <div class="text-center"><i class="fa fa-4x fa-gift"></i><br>
                <i class="fa fa-2x fa-arrow-circle-o-down"></i><br>
                <i class="fa fa-4x fa-envelope-o"></i></div>
            <br>
        </div>
        <div class="col-lg-2">
            <div class="text-center"><i><img src="{% static 'bigday/images/tulip.png' %}" alt=""></i><br>
                <i class="fa fa-2x fa-arrow-circle-o-down"></i><br>
                <i class="fa fa-4x fa-paw"></i></div>
            <br>
        </div>
    </div>
            <h3 class="section-heading text-center">
            <hr class="light">
            <p>
                Wszystko, co jest nam niezbędne, już posiadamy - zatem prosimy, byście nie trudzili się wymyślaniem upominków.
                Będziemy bardzo wdzięczni, jeśli prezenty zmieszczą się w kopercie, zaś kwiaty (<b>przez wzgląd na alergię pana młodego</b>)
                zostaną zastąpione karmą dla zwierząt. Wszystkie podarunki dla czworonogów zostaną przekazane <a href="https://schroniskopromyk.pl">
                Schronisku dla Bezdomnych Zwierząt Promyk</a>.
            </p>
                </h3>

</div>
{% endblock %}
