{% load static %}
{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Zakwaterowanie</h2>
            <hr class="primary">
            <h3>Nocleg w hotelu Bursztynowy Sen</h3><br>
            <p>
                Zapewniamy naszym gościom zakwaterowanie w Hotelu Bursztynowy Sen. Do dyspozycji będą pokoje 2,3,4-osobowe
                oraz domki letniskowe z kominkami. </p>
            <p> Więcej informacji o przydziale noclegu otrzymacie w recepcji, meldując
                się w dniu wesela. Doba hotelowa w dniu uroczystości trwa od godz. 14:00, a wymeldowanie z pokoi musi
                nastąpić do momentu rozpoczęcia poprawin, czyli do godz. 13:00.
            </p>
            <p>Nocleg znajduje się tuż obok sali weselnej.</p>
            <p>Dołożymy wszelkich starań, aby odpowiednio dobrać osoby w pokojach</p>
			<p>
                <a href="https://bursztynowysen.pl/">Hotel Bursztynowy Sen</a>
            </p>
        </div>
        <div class="section-heading text-center">
            <img src="{% static 'bigday/images/accommodation_pic.png' %}" class="center"  width="100%" alt="">
        </div>
        <div class="col-lg-12">
            <hr class="primary">
            <h3>Atrakcje w okolicy</h3>
            <br>
            <table class="table table-striped">
                <tr>
                    <th class="col-md-2">Plaża</th>
                    <td>
                        Osobom, które wstają wcześnie i przed poprawinami chciałyby spędzić czas na świeżym powietrzu,
                        polecamy spacer na plażę, znajdującą się nieopodal hotelu. Dojście tam zajmie ok. 15-20 min, czyli
                        spacer na <code>jedno piwsko</code>.
                        <img src="{% static 'bigday/images/morze.jpg' %}" class="img-responsive" alt="">
                    </td>
                </tr>
                <tr>
                    <th>Park linowy Zegarowscy</th>
                    <td>
                        Park linowy w Stegnie z 6 trasami o różnym stopniu trudności. Dodatkowo, dla najmłodszych, jest
                        kolorowy plac zabaw z okrętem pirackim. Dodatkową atrakcją jest basen z piłkami – waterball oraz
                        eurobungee. Park jest czynny w godz. od 10.00 do 19.00.
                        <img src="{% static 'bigday/images/park_linowy.jpeg' %}" class="img-responsive" alt="">
                    </td>
                </tr>
                <tr>
                    <th>Mini zoo – "Zwierzaki nad potokiem"</th>
                    <td>
                        Pasjonaci zwierząt hodują i ratują zwierzęta.
                        Na stanie mini zoo są zwierzęta następujących gatunków: kuce, emu, alpaki, świnki wietnamskie,
                        świnki morskie, króliki, wiewiórki, kury, kaczki, gęsi, pawie i wiele innych.
                        <img width="650px" src="{% static 'bigday/images/mini_zoo.jpeg' %}" class="img-responsive" alt="">
                    </td>
                </tr>
                <tr>
                    <th>Żuławska Kolej Dojazdowa, przystanek: Stegna Gdańska</th>
                    <td>
                        Kolej wąskotorowa (750 mm) na terenie powiatu nowodworskiego, obecnie oferuję przejazd na dwóch trasach:
                        <li>Sztutowo – Prawy Brzeg Wisły</li>
                        <li>Nowy Dwór Gdański Wąskotorowy - Jantar</li>
                        <img src="{% static 'bigday/images/kolej.jpg' %}" class="img-responsive" alt="">
                    </td>
                </tr>
                <tr>
                    <th>Bulwar Radiowej Jedynki</th>
                    <td>
                        Bulwar nad morzem zlokalizowany pomiędzy głównymi zejściami na plażę w Stegnie (nr 66 i 68, tuż
                        obok portu rybackiego).
                        Z Bulwaru Radiowej Jedynki rozpościera się piękny widok na Morze Bałtyckie. Na bulwarze znajdują się dwie oryginalne
                        ławeczki, noszące nazwy popularnych audycji Pierwszego Programu Polskiego Radia
                        <img src="{% static 'bigday/images/bulwar.jpeg' %}" class="img-responsive" alt="">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}

