{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Modified from https://github.com/IronSummitMedia/startbootstrap-creative -->
    <title>Paskudy 2021</title>

    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap-3.3.6-dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% include "partials/google-analytics.html" %}
    {% block page_head %}
    {% endblock %}
</head>
<style>
    div.grayed {
        background: rgba(180, 180, 180, 0.3);
        margin: auto;
        }
</style>
<body id="page-top">
{% block page_content %}{% endblock %}
{% include "partials/footer.html"  %}
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
{#    <script src="{% static 'creative/js/jquery.js' %}"></script>#}

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap-3.3.6-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bigday/js/footer.js' %}"></script>
    <script>
        $(document).ready(function() {
            setFooterStyle();
            setFooterStyle();  // hack, for some reason this needs to be called twice on load
            window.onresize = setFooterStyle;
        });
    </script>
{% block page_js %}
{% endblock %}
</body>
</html>
