{% extends "base.html" %}
{% load static %}
{% block page_head %}
    <!-- Custom CSS -->
    <link href="{% static 'bigday/css/creative.css' %}" rel="stylesheet">
{% endblock %}
{% block page_content %}
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Paskudy 2021</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#main-header">Strona główna</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#confirm">Potwierdź obecność</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#event">Wesele</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#accommodation">Zakwaterowanie</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#other-stuff">Cała reszta</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Kontakt</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    {% block main %}
    <header id="main-header">
        <div class="header-content">
            <div class="header-content-inner">
                <div class="navbar-header">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
            </div>
                <h1>Paskudy 18/09/2021</h1>
                <a href="#confirm" class="btn btn-primary btn-l page-scroll">Potwierdź obecność</a>
                {% comment %}
                <hr>
                <h2>It's wedding week!</h2>
                <a href="#welcome" class="btn btn-info btn-xl page-scroll">Welcome</a>
                <a href="#event" class="btn btn-primary btn-xl page-scroll">Friday</a>
                <a href="#saturday-event" class="btn btn-success btn-xl page-scroll">Saturday</a>
                {% endcomment %}
            </div>
        </div>
    </header>
    <section class="bg-info" id="welcome">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Witajcie!</h2>
                    <hr>
                    <p>
                        Serdecznie zapraszamy Was do przeżycia wraz z nami wspaniałego, wrześniowego weekendu, podczas którego będziecie świadkami naszych zaślubin.
                    </p>
                    <p>
                        Poniżej znajdziecie wszystkie szczegóły odnośnie <a href="#event" class="page-scroll">sobotniego ślubu & wesela</a> oraz <a href="#saturday-event" class="page-scroll">niedzielnych poprawin</a>.
                    </p>
                    <p>
                        Aby zatwierdzić udział w wydarzeniu należy kliknąć na zakładkę <a href="#confirm" class="page-scroll">"Potwierdzenie obecności"</a>.
                        {% comment %}
                        To get added to the wedding whatsapp group first create an account and then send an
                        email to <a href="mailto:{{ support_email }}">{{ support_email }}</a>.
                        Also, the current front-runner for the wedding hashtag (if you're into that sort of thing) is #getlukky.
                        {% endcomment %}
                    </p>
                    <p>
                        Do zobaczenia!
                    </p>
                    <p class="pull-right">- Kasia&Adam</p>
                </div>
            </div>
        </div>
    </section>
    <section id="confirm" class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Wprowadź kod zaproszenia do pola tekstowego, a następnie kliknij potwierdź</h2>
                    <hr class="primary">
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                        <input class="btn btn-info btn-xl" type="text" id="myInvitation" placeholder="Kod zaproszenia"> <button class="btn btn-info btn-xl page-scroll" onclick="myFunction()">Potwierdź obecność</button>
                            <script>
                            function myFunction() {
                              var x = document.getElementById("myInvitation").value.toUpperCase();
                              if (x !== "") {
                                  window.open("invite/" + x, "_self");
                              }
                            }
                            </script>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <hr class="primary">
                    <h2 class="section-heading text-primary">Ważne<br></h2><h3 class="section-heading">W związku z panującą sytuacją istnieje możliwość, iż kierownik Urzędu Stanu Cywilnego nie będzie mógł udzielić nam ślubu w plenerze. W urzędzie natomiast przebywać może maksymalnie 5 osób. W takim przypadku godzina rozpoczęcia wydarzenia nie zmieni się (nadal obowiązywać będzie godz. 17:00) a gości prosimy o przybycie na salę weselną zgodnie z informacją znajdującą się na zaproszeniach.</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="no-padding" id="navigation">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#event" class="portfolio-box page-scroll">
                        <img src="{% static 'bigday/images/wedding.png' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Wesele
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#accommodation" class="portfolio-box page-scroll">
                        <img src="{% static 'bigday/images/accommodation.png' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Nocleg
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#about" class="portfolio-box page-scroll">
                        <img src="{% static 'bigday/images/about_us2.png' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    O nas
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    {% include 'partials/event.html' %}
    <section id="accommodation">
        {% include 'partials/hotel.html' %}
    </section>
{% comment %}
        {% include 'partials/wedding-party.html' %}
{% endcomment %}
    <section id="other-stuff" class="bg-dark">
        {% include 'partials/gifts.html' %}
    </section>
    <section id="about">
        {% include 'partials/about_us.html' %}
    </section>
    <section id="family" class="bg-dark">
        {% include 'partials/family.html' %}
    </section>
    <section id="contact" class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Napisz do nas!</h2>
                    <hr class="primary">
                    <p>Jeśli masz jakieś pytania, nie wahaj się i skontaktuj się z nami!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:{{ support_email }}">{{ support_email }}</a></p>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
{% endblock %}
{% block page_js %}
    <!-- Plugin JavaScript -->
    <!-- Easing is for the vertical scroll animations -->
    <script src="{% static 'creative/js/jquery.easing.min.js' %}"></script>
    <!-- Automatically fit text based on screen size.-->
    <script src="{% static 'creative/js/jquery.fittext.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'creative/js/creative.js' %}"></script>
{% endblock %}
